.wrapper {
    position: fixed;
    z-index: 999;
}

.show {
    & .overlay {
        visibility: visible;
        opacity: 1;
    }
    & .cart {
        transform: translateX(0);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.45);
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: all 0.2s linear;
}

.cart {
    --header-height: 70px;

    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 520px;
    background-color: #fff;
    box-shadow: -2px 0 8px rgb(0 0 0 / 15%);
    transform: translateX(100%);
    transition: transform 0.25s cubic-bezier(0.7, 0.3, 0.1, 1), -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);

    &-header {
        display: flex;
        align-items: center;
        padding: 0 24px;
        height: var(--header-height);
        border-bottom: 1px solid #f0efef;
    }

    &-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 24px;
        background: #fff;
        box-shadow: 0 -2px 6px 0 rgb(28 28 28 / 6%);
    }

    &-empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100% - var(--header-height));
    }
}

.header {
    &-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
    &-title {
        font-size: 1.6rem;
        font-weight: 500;
    }
    &-desc {
        color: #9a9a9a;
        font-size: 1.2rem;
    }
    &-icon {
        background-color: transparent;
        cursor: pointer;

        &:hover svg {
            fill: var(--primary);
        }
    }
}

.cart {
    &-list {
        padding: 16px 24px;
        overflow-y: auto;
        height: 100%;
        overscroll-behavior: contain;
    }
    &-item {
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 300px;
        }
    }
    &-item + &-item {
        margin-top: 20px;
    }
}
.item {
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1;
    }
    &-img-wrapper {
        max-width: 9.5rem;
        margin-right: 15px;
    }
    &-img {
        width: 9.5rem;
        height: 9.5rem;
        object-fit: cover;
    }
    &-name {
        font-weight: 500;
        font-size: 1.8rem;
        word-break: break-all;
        transition: color 0.25s linear;

        &:hover {
            color: var(--primary);
        }
    }
    &-price {
        color: var(--primary);
        font-size: 1.6rem;
        font-weight: 500;
        margin: 6px 0;
    }
    &-actions {
        display: flex;
    }
    &-quantity {
        display: flex;
        align-items: center;
        height: 30px;
        padding: 6px 30px;
        margin: 0 8px;

        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: default;
    }
    &-icon {
        background-color: transparent;
        margin: auto;
        cursor: pointer;

        &:hover svg {
            fill: var(--primary);
        }
    }
}

.footer {
    &-content {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 24px;
    }
    &-total {
        font-weight: 500;
        text-align: right;
    }
    &-btn {
        display: flex;
        height: 48px;
        width: 100%;
        padding: 0 15px;

        font-weight: 700;
        text-align: center;
        font-size: 14px;

        background-color: var(--primary);
        color: var(--white);

        border-radius: 6px;
        touch-action: manipulation;
        cursor: pointer;
        white-space: nowrap;
        transition: all 0.25s linear;

        &:hover {
            opacity: 0.8;
        }
    }
}

.empty {
    &-image {
        width: 50%;
    }
    &-title {
        font-weight: 500;
        font-size: 24px;
        margin-top: 24px;
    }
    &-subs {
        color: #9a9a9a;
        margin-top: 8px;
    }
    &-close {
        margin-top: 8px;
        color: var(--blue);
    }
}
