@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;
    --secondary: #fbb403;
    --white: #fff;
    --black: #000;

    // Default layout
    --default-layout-header-height: 68px;
    --default-layout-width: 1130px;

    // Text
    --text-color: #000;
    --font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    overflow-x: hidden;
}

button,
input,
[tabindex] {
    font-family: var(--font-family);
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// Custom Swipe
.swiper-button {
    &-prev,
    &-next {
        display: none;
    }
}

.swiper-pagination {
    &-horizontal {
        bottom: 5.6rem !important;
    }

    &-bullet {
        position: relative;
        width: 1.8rem;
        height: 1.8rem;
        margin: 0 1rem !important;

        &-active {
            background-color: #fbb403;
        }

        &::before {
            content: '';
            position: absolute;
            width: 2rem;
            height: 2rem;
            border: 0.2rem solid #fbb403;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// custom material
.material-icons {
    vertical-align: middle;
}
.MuiBreadcrumbs-li {
    &:last-child {
        color: var(--primary) !important;
        & > a:hover {
            text-decoration: none;
            cursor: default;
        }
    }
}

// Custom active
.Button_wrapper__GqKsN.active {
    text-decoration: underline;
    color: var(--primary);
}
