@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    --primary: #fe2c55;
    --primary-light: rgba(254, 44, 85, 0.75);
    --primary-lighter: rgba(254, 44, 85, 0.25);
    --primary-lightest: rgba(254, 44, 85, 0.2);
    --secondary: #fbb403;
    --white: #fff;
    --black: #000;
    --gray: rgba(0, 0, 0, 0.4);

    // Default layout
    --default-layout-header-height: 68px;
    --default-layout-width: 1130px;

    // Text
    --text-color: rgba(0,0,0,.84);
    // --font-family: 'Poppins', sans-serif;
    --font-family: "Roboto", sans-serif;
    --font-secondary: 'Pangolin', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizespeed;
    overflow-x: hidden;
}

button,
input,
[tabindex] {
    font-family: var(--font-family);
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.section {
    &-subtitle {
        color: var(--secondary);
        font-family: var(--font-secondary);
        font-size: 1.8rem;
    }
    &-title {
        font-size: 3.2rem;
        font-weight: 700;
        color: var(--black);
    }
}

.primary {
    color: var(--primary);
}

// Custom Swipe
.home-category-container {
    & > .swiper {
        position: static;
        width: 90%;
    }
}

.home-product,
.home-banner {
    .swiper-button {
        &-prev,
        &-next {
            display: none;
        }
    }

    .swiper-pagination {
        &-horizontal {
            bottom: 20px;
        }

        &-bullet {
            position: relative;
            width: 1.6rem;
            height: 1.6rem;
            margin: 0 1rem !important;

            &-active {
                background-color: var(--secondary);
            }

            &::before {
                content: '';
                position: absolute;
                width: 2rem;
                height: 2rem;
                border: 0.2rem solid var(--secondary);
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
.home-product {
    .swiper-pagination {
        &-horizontal {
            bottom: 0px;
        }
    }
    .swiper {
        padding-bottom: 40px;
    }
}

// custom material
.material-icons {
    vertical-align: middle;
}
.MuiBreadcrumbs-li {
    &:last-child {
        color: var(--primary) !important;
        & > a:hover {
            text-decoration: none;
            cursor: default;
        }
    }
}

// Custom active
.Button_wrapper__GqKsN.active {
    text-decoration: underline;
    color: var(--primary);
}
