.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 2;
}

.title {
    line-height: 1.2;
}

.text {
    margin: 10px 0 20px;
    line-height: 1.8;
}

.contact {
    display: flex;
    align-items: center;

    &-image {
        max-width: 100%;
        width: 8.5rem;
        transform: rotateY(180deg);
    }
}

.order {
    &-wrapper {
        margin: 0 20px;
    }
    &-number {
        color: var(--primary);
        font-weight: 600;
    }
}

.animate {
    flex: 3;
}

// mobile and tablet
@media only screen and (max-width: 1023px) {
    .content {
        flex: 1;
    }
    .animate {
        flex: 1;
    }
}

// Mobile
@media only screen and (max-width: 739px) {
    .wrapper {
        flex-direction: column;
    }
    .content {
        margin-bottom: 24px;
    }
    .contact {
        flex-wrap: wrap;
        grid-row-gap: 20px;
    }
}