.detail {
    // position: relative;
    box-shadow: 0 3px 20px rgb(0 0 0 / 35%);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.89);
}

.left {
    margin-right: 50px;
}
.right {
    margin-left: 50px;
}
