.wrapper {
    padding: 90px 0 80px;
    background-color: rgba(0, 0, 0, 0.87);
    color: var(--white);
}

.time {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 14px;

    &-day {
        gap: 2rem;
        flex: 2;
        font-size: 1.6rem;
    }
    &-icon {
        flex: 1;
        text-align: center;
    }
    &-status {
        flex: 1;
        min-width: 120px;

        font-size: 1.6rem;
        font-weight: 500;
        color: var(--secondary);
    }
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-container {
        display: flex;
    }

    &-title {
        font-size: 2.5rem;
    }

    &-icon {
        margin-right: 16px;
        margin-bottom: 8px;
        color: var(--secondary);
    }

    &-content {
        font-size: 1.6rem;
    }

    &-social {
        display: flex;
        
        &-icon {
            font-size: 28px !important;
            margin-right: 10px;
        }
    }
}

.map {
}
