.list-page {
    margin-top: -80px;
    padding-top: 80px;
    padding-bottom: 1000px;
}

.product-filters {
    padding-bottom: 40px;
}
.product-list {
    padding-bottom: 60px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.not-found {
    width: 70%;
    display: block;
    margin: auto;
}